<h1>Welcome to our really official study at TU Munich</h1>
<h3>Please provide your e-mail address for research purposes!</h3>
<form action="/email" method="POST">
    <input type="email" name="email" required="true" placeholder='Your E-Mail Address'>
    <input type="submit">
</form>